@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=latin-ext");

$font-size-title: 2.5rem;
$font-size-subtitle: 1.8rem;
$background-color: #252527;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:focus {
	box-shadow: none;
}

body,
html {
	font-family: "Roboto", sans-serif;
	color: white;
	margin: 0;
	font-size: 10px;
	scroll-behavior: smooth;
	background-color: #474550;
}

.g-words {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title-game {
	text-align: center;
	font-size: 2rem;
	letter-spacing: 2px;
	padding: 20px 0;
}

.description {
	text-align: center;
	padding: 10px;
	font-size: 1.2rem;
	letter-spacing: 1px;
}

.word-game {
	width: 80%;
	margin: 20px auto;
}

.line {
	display: flex;
	justify-content: center;
	align-items: center;
}

.one-letter {
	height: 30px;
	width: 30px;
	min-width: 20px;
	border-radius: 3px;
	border: 2px solid gray;
	margin: 5px;
}

.curr-letter{
	border: 2px solid white;
}

.curr-letter:first-child {
	border: 2px solid yellow;
}

.category {
	text-align: center;
}

.letters {
	width: 90%;
	height: 150px;
	margin: 20px 0;
	border: 2px solid gray;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.keyboard-scheme {
    display: inline-block;
    height: 36px;
    width: 42px;
    line-height: 30px;
    font-size: 29px;
    position: relative;
    top: 5px;
}

.keyboard-scheme:hover {
	cursor: pointer;
}

button {
	height: 25px;
	width: 25px;
	margin: 4px;
	border-top: 3px solid #c1c1c1;
}

.backspace {
    line-height: 22px;
    font-size: 16px;
    position: relative;
    top: -1px;
    width: 34px;
    border-top: none;
    border: none;
    border-radius: 2px;
    height: 22px;
    font-weight: 700;
	color: #474550;
}

.letters {
  text-align: center;
}

.red {
	background-color: tomato;
	color: #252527;
}

.green {
	background-color: lime;
	color: #252527;
}

.normal {
	background-color: none;
}