@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=latin-ext");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body,
html {
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 0;
  font-size: 10px;
  scroll-behavior: smooth;
  background-color: #474550;
}

.g-words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-game {
  text-align: center;
  font-size: 1.8rem;
  padding: 20px 0;
  width: 100%;
  padding-left: 10px;
}

.description {
  text-align: center;
  padding: 5px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  max-width: 90%;
}

.title-div {
  height: 15px;
  width: 15px;
  display: inline-block;
  position: relative;
  top: 3px;
}

.title-letter {
  height: 22px;
  width: 22px;
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: black !important;
}

.title-letter-space {
  display: inline-block;
  width: 0px;
}

.letter-transform-1 {
  -webkit-transform: translateX(20px) rotate(20deg);
          transform: translateX(20px) rotate(20deg);
}

.letter-transform-2 {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.letter-transform-3 {
  -webkit-transform: translateX(5px) rotate(-15deg);
          transform: translateX(5px) rotate(-15deg);
  z-index: 10;
}

.letter-transform-4 {
  -webkit-transform: translateX(0px) rotate(10deg);
          transform: translateX(0px) rotate(10deg);
}

.letter-transform-5 {
  -webkit-transform: translateX(-10px) rotate(-15deg);
          transform: translateX(-10px) rotate(-15deg);
}

.letter-transform-6 {
  -webkit-transform: translateX(-5px) rotate(-10deg);
          transform: translateX(-5px) rotate(-10deg);
  z-index: 10;
}

.letter-transform-7 {
  -webkit-transform: translateX(-10px) rotate(10deg);
          transform: translateX(-10px) rotate(10deg);
}

.letter-transform-8 {
  -webkit-transform: translateX(0px) rotate(-10deg);
          transform: translateX(0px) rotate(-10deg);
}

.letter-transform-9 {
  -webkit-transform: translateX(-10px) rotate(10deg);
          transform: translateX(-10px) rotate(10deg);
  z-index: 10;
}

.letter-transform-10 {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.letter-transform-11 {
  -webkit-transform: translateX(-28px) rotate(-15deg);
          transform: translateX(-28px) rotate(-15deg);
}

.letter-transform-12 {
  -webkit-transform: translateX(-37px) rotate(10deg);
          transform: translateX(-37px) rotate(10deg);
}

.word-game {
  width: 80%;
  margin-top: 25px;
  margin-bottom: 20px;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.one-letter {
  height: 30px;
  width: 30px;
  min-width: 20px;
  border-radius: 3px;
  border: 2px solid gray;
  margin: 5px 2px;
  font-size: 20px;
  text-align: center;
  line-height: 27px;
  font-weight: 600;
  cursor: default;
}

.current-round .one-letter {
  border: 2px solid white;
  cursor: pointer;
}

.current-round .current-letter {
  border: 3px solid yellow !important;
  cursor: pointer;
}

.not-word {
  position: relative;
  left: 20px;
  top: -35px;
}

.not-word p {
  position: absolute;
  height: 40px;
  width: 200px;
  border: 4px solid red;
  text-align: center;
  color: red;
  font-size: 1.6rem;
  line-height: 33px;
  background-color: #474550;
  font-weight: 900;
  letter-spacing: 1px;
}

.result-word {
  font-size: 1.8rem;
  padding-bottom: 15px;
  font-weight: 600;
}

.result-word p {
  color: lime;
  display: inline;
}

.category {
  width: 240px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.implementation {
  height: 300px;
  text-align: center;
  padding-top: 270px;
  font-size: 1.6rem;
}

.footer-section {
  background-color: #fff;
  text-align: center;
}

.footer-text {
  font-size: 1.3rem;
}

.footer-text a {
  color: #474550;
  font-weight: 500;
  text-decoration: none;
}

.letters {
  width: 90%;
  margin: 20px 0;
  border: 2px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.keyboard-scheme {
  display: inline-block;
  height: 18px;
  width: 38px;
  font-size: 24px;
  position: relative;
  top: 3px;
  color: aliceblue;
}

.keyboard-scheme:hover {
  cursor: pointer;
}

.letters button {
  height: 23px;
  width: 23px;
  margin: 3px;
  border-top: 2px solid #c1c1c1;
  font-size: 12px;
}

.letters button:hover {
  cursor: pointer;
}

.letters .back-space {
  display: inline-block;
  font-size: 19px;
  position: relative;
  top: 3px;
  width: 28px;
  border-top: none;
  border: none;
  border-radius: 2px;
  height: 20px;
  font-weight: 900;
  color: #474550;
  background-color: aliceblue;
  margin-left: 3px;
  z-index: 200;
}

.letters .back-space:hover {
  cursor: pointer;
}

.curtain-only-words {
  top: 130px;
}

.curtain {
  height: 160px !important;
  width: 380px !important;
  background-color: gray;
  opacity: 0.8;
}

.curtain-z-index {
  z-index: 300 !important;
}

.curtain-char {
  border: 3px solid red !important;
  color: red;
}

.curtain-back-space {
  background-color: red;
  color: white;
}

.above {
  height: 0px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.above.only-words {
  height: 20px;
}

.above.once-again {
  top: 78px;
}

.above p {
  width: 200px;
  height: 30px;
  text-align: center;
  line-height: 25px;
  font-size: 1rem;
  color: red;
  letter-spacing: 2px;
  z-index: 100;
}

.above div {
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 34px;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 700;
  background-color: #555555;
  border-radius: 5px;
  border: 4px solid;
  border-color: #999999 #2b2b2b #2b2b2b #999999;
  letter-spacing: 3px;
  z-index: 500;
}

.hide {
  display: none;
}

.half-success {
  background-color: yellow;
  color: #252527;
  border: 3px solid;
  border-color: #9a9a9a #2a2a2a #2a2a2a #9a9a9a;
}

.success {
  background-color: lime;
  color: #252527;
  border: 3px solid;
  border-color: #9a9a9a #2a2a2a #2a2a2a #9a9a9a;
}

.normal {
  border: 3px solid;
  border-color: #9a9a9a #2a2a2a #2a2a2a #9a9a9a;
}

.not-char {
  background-color: gray;
  color: #c1c1c1;
  border: 3px solid;
  border-color: #2a2a2a #9a9a9a #9a9a9a #2a2a2a;
  cursor: default !important;
  opacity: 0.7;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 450px;
  max-width: 90%;
}

.dropdown p {
  margin-bottom: 0.5em;
  color: #252527;
}

.dropdown .fas {
  margin-right: 20px;
  color: #f6483b;
}

.dropdown-option {
  width: 400px;
  background-color: #fff;
  border-radius: 8px;
}

.dropdown-box {
  margin: 10px;
}

.dropdown-btn {
  padding: 1em;
  width: 100%;
  font-size: 2rem;
  text-align: left;
  border: none;
  border-radius: 8px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.dropdown-btn:hover,
.dropdown-btn:focus {
  background-color: #f6483b;
  color: #fff;
  outline: none;
}

.dropdown-btn:hover .fas,
.dropdown-btn:hover .far,
.dropdown-btn:focus .fas,
.dropdown-btn:focus .far {
  color: #fff;
}

.dropdown-info {
  padding: 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.dropdown-active {
  display: block;
}

.long-word {
  height: 30px;
  width: 80%;
  margin-left: 10%;
}

h2 {
  color: #fcfca4;
}

.settings {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  width: 300px;
  text-align: center;
  border: 2px solid #fcfca4;
  border-radius: 2px;
}

.setting-letter {
  margin: 5px;
}

.setting-letter:hover {
  cursor: pointer;
  color: #959499;
}

.heartly {
  -webkit-animation: heartly 1s infinite;
          animation: heartly 1s infinite;
}

@-webkit-keyframes heartly {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartly {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 400px) {
  .keyboard-scheme {
    height: 36px;
    width: 42px;
    line-height: 30px;
    font-size: 29px;
    top: 5px;
  }
  .letters button {
    height: 25px;
    width: 25px;
    margin: 4px;
    border-top: 3px solid #c1c1c1;
  }
  .letters .back-space {
    line-height: 22px;
    font-size: 22px;
    top: 2px;
    width: 32px;
    height: 22px;
    z-index: 200;
  }
  .settings {
    font-size: 17px;
  }
  .category {
    font-size: 17px;
    width: 300px;
  }
  .description {
    padding: 10px;
    font-size: 1.6rem;
  }
  .title-div {
    height: 20px;
    width: 20px;
    top: 5px;
  }
  .not-word {
    left: 50px;
  }
  .curtain-only-words {
    top: 146px;
  }
  .curtain {
    height: 177px !important;
    width: 500px !important;
  }
  .title-letter {
    height: 27px;
    width: 27px;
    font-size: 20px;
  }
  .above.once-again {
    top: 87px;
  }
  .one-letter {
    margin: 5px 3px;
  }
}

@media (min-width: 500px) {
  .letters button {
    height: 28px;
    width: 28px;
    font-size: 15px;
  }
  .category {
    width: 350px;
  }
  .not-word {
    left: 74px;
  }
  .curtain-only-words {
    top: 158px;
  }
  .curtain {
    height: 188px !important;
    width: 700px !important;
  }
  .title-letter {
    height: 31px;
    width: 31px;
    font-size: 21px;
  }
  .title-letter-space {
    width: 20px;
  }
  .above.once-again {
    top: 94px;
  }
  .one-letter {
    margin: 5px 5px;
  }
}

@media (min-width: 768px) {
  .letters {
    width: 450px;
  }
  .description {
    max-width: 100%;
    width: 500px;
  }
  .curtain {
    width: 670px !important;
  }
}
/*# sourceMappingURL=style.css.map */